body {
    background-color: #e8dede;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    margin: 0 auto;
    width: 50%;
}
.yuanwen {
    font-size: inherit;
}
.fanyi {
    font-size: 10px;
    margin: 10px;
}
rt {
    font-size: 8px;
}
