/**
    Riyu Folder
*/

body {
    background-color: #e8dede;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    margin: 0px auto;
    max-width: 800px;
}
.textdetail {
    display: none;
}
.texttranslate {
    font-size: 12px;
    color:#808080;
}