@charset "UTF-8";

/** 响应式页面,按照手机优先的原则*/

/* 共通部分 */
body {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    margin: auto;
}

#header {
    height: 45px;
    /* margin: 5px; */ background-color: #2e2e2e;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#content {
    margin-top: 50px;
}
.logo{
    width:100px;

margin: auto 0;color: white;}
.search {
    max-width: 600px;
    width: 80%;
    margin: auto 0;
}
.profile {
    width:50px;
    margin: auto 0;
/* height: 100px; */}


.search input {
    width: 80%;
    height: 30px;
    font-size: 1.05rem;
    border-radius: 3px; /* background-color: aqua; */
}



/* 针对手机等小型设备设置的样式 */
.container {
    width: 98%;
    margin: 0 auto;
    /* background-color: red; */
    align-items: center;
/* padding: 10px; */}

.row {
    background-color: #00ffff;
    display: flex; /*设置容易为弹性盒子布局*/
    /* flex-direction: row; */ /*排布方向*/
    /* flex-wrap: wrap; */ /*主轴,水平方向放不下,到下一行表示*/
    flex-flow: row wrap; /*flex-direction + flex-wrap的组合方式*/
align-items: center;}



/* 针对电脑设备(1920*1080)设备设置的样式 */
/*min-width : 显示区域的最小宽度,窗口宽带>min-width,按以下进行表示*/
@media (min-width: 800px) {
    .container {
        width: 80%;
        margin: 0 auto;
        background-color: blue;
    }

    .row {
        display: flex;
        background-color: #0000ff;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
