body {
    background-color: #e8dede;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
}

/**设置*/
#page-wrapper {
    background-color: #e8dede;
    padding: 0 10px;
}


.row {
}
.row-hidden{
    display:none;
}
